@page
@model DemoASPApp.Pages.UserAddressModel
@using UserManagement.User;
@{
    Layout = "_MyLayout";
}

<h2>User Address Details</h2>

@if (Model.user != null && Model.user.addresses != null && Model.user.addresses.Count > 0)
{
    <ul>
        @foreach (Address address in Model.user.addresses)
        {
            <li>
                <strong>Address Type:</strong> @address.addressType<br />
                <strong>Door No:</strong> @address.permDoorNo<br />
                <strong>Street:</strong> @address.street<br />
                <strong>Town:</strong> @address.town<br />
                <strong>District:</strong> @address.district<br />
                <strong>State:</strong> @address.state<br />
                <strong>Country:</strong> @address.country<br />
                <strong>Pincode:</strong> @address.pincode
            </li>
           
        }
        <li class="nav-item" style="list-style:none">
            <a class="btn btn-primary" href="/UserData?id=@Model.user.userID">User Info</a>
            <a class="btn btn-primary" href="/ExperianceData?id=@Model.user.userID">Experiance</a>

        </li>
    </ul>
}
else
{
    <p>No address information available for this user.</p>
}
