@page
@model DemoASPApp.Pages.UserDataModel
@using UserManagement.User;
@{
    Layout = "_MyLayout";
}
<ul>
    <li><strong>User ID:</strong> @Model.user.userID</li>
    <li><strong>Name:</strong> @Model.user.userName</li>
    <li><strong>Father Name:</strong> @Model.user.fatherName</li>
    <li><strong>Mother Name:</strong> @Model.user.motherName</li>
    <li><strong>Aadhaar Number:</strong> @Model.user.AadhaarNumber</li>
    <li><strong>Email:</strong> @Model.user.email</li>
    @if (@Model.user.phone!=null)
    {
        @foreach (Phone phone in @Model.user.phone)
        {
            <li><strong>@phone.phoneType  Phone:</strong> @phone.phoneNumber</li>
        }
    }
   
    <li><strong>PAN:</strong> @Model.user.panCardNo</li>
    <li><strong>Passport:</strong> @Model.user.passportNo</li>
  
</ul>