@page
@using DemoASPApp.Pages
@using DemoASPApp.model
@using UserManagement.User
@model DemoASPApp.Pages.ViewUserModel
@{
    Layout = "_Layout";
}

<h2>User Summary</h2>

<table border="1" cellpadding="8" cellspacing="0">
    <thead>
        <tr>
            <th>UserId</th>
            <th>Name</th>
            <th>Father Name</th>
            <th>Aadhar Number</th>
            <th>Action</th>
            <th>Status</th>
           
        </tr>
    </thead>
    <tbody>
        @foreach (UserInfo user in Common.users)
        {
            if (user.userRoleID == 1)
            {
                continue; // Skip admin users
            }
            <tr>
                <td>@user.userID</td>
                <td>@user.userName</td>
                <td>@user.fatherName</td>
                <td>@user.AadhaarNumber</td>
                <td>
                    <input type="hidden" name="userID" value="@user.userID" />
                    <a href="/UserData?id=@user.userID">View</a>
                    @{
                        bool isPromoted = Common.employees != null && Common.employees.Any(e => e.UserID == user.userID);
                    }
                    @if (!isPromoted)
                    {
                        <a href="/UsertoEmployee?id=@user.userID">Register as Employee</a>
                    }
                    else
                    {
                        <span style="color:gray;">Already an Employee</span>
                    }
                </td>
                <td>
                    <form method="post" asp-page-handler="ChangeStatus">
                        <input type="hidden" name="userID" value="@user.userID" />
                        @if (user.Status == "P")
                        {
                            <button type="submit" name="newStatus" value="A">Activate</button>
                        }
                        else if (user.Status == "A")
                        {
                            <button type="submit" name="newStatus" value="I">Deactivate</button>
                        }
                        else if (user.Status == "I")
                        {
                            <button type="submit" name="newStatus" value="A">Activate</button>
                        }
                    </form>
                </td>
            </tr>
        }
    </tbody>

</table>

